{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="jumbotron">
		<h1>Sistema Gerenciador de Campeonatos</h1>
		<p class="lead">Iremos aprofundar nossos conhecimentos em Symfony4 com Doctrine, utilizando alguns recursos mais avançados.</p>
		<a class="btn btn-lg btn-primary" href=""
			role="button">Gerenciar resultados</a>
	</div>
{% endblock %}
